html    {
        z-index: -1;
        font-family: "word";
        background-image: url("many_balls.png");
        background-size: cover;
        background-repeat: no-repeat;
        }
        @font-face{
            font-family:"word";
            src:url("兒風體W4.ttc");
        }
#firevolley{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
#firevolley2{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}
#index  {
        top: 500px;
        left: 2px;
        width: 93%;
        height: 20px;
        position: absolute;
        z-index: 999;
        background:    #000000;
        background:    linear-gradient(#000000, #f8f8f8);
        border-radius: 20px;
        box-shadow:0 0 10px 5px #f8f8f8,inset 0 0 10px 5px #f8f8f8;
        padding: 8px 50px;
        }
#game{
    position: absolute;
    top:540px;
    right: 50px;
    width: 321px;
    height: 321px;
}
#logo{
    position: absolute;
    top: 400px;
    right: 0;
    width: 350px;
    height: 100px;
}
.tab-title{list-style:none;
            font-weight: bolder;
            font-size: x-large;}
#tab-demo > ul > li.active{ border-bottom:1px solid #fff; background:#fff;}
.tab-inner{
    background-image: url("flyfly.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: none;
    clear: both;
    position: absolute;
    top: 530px;
    width: 1070px;
    height: 5000px;
    left: 50px;
}
nav{
    text-align:    center;
    position: absolute;
    top: 505px;
    z-index: 1010;
    background: none;
    display:block;
    width: 165px;
    color: #04ff2e;
}
nav ul  {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0; 
        }
nav:hover ul{ 
        display: block;
        }
nav ul li{
        border-top: 2px solid #04ff2e;
        }
nav ul li:hover { 
        background-color: PowderBlue;
        cursor: pointer; 
        filter: drop-shadow(1);
        }
a       { 
        text-decoration: none; 
        }
#dream{
    width: 300px;
}
#bearvideo   {
        background-color: white;
        position: fixed;
        top: 250px;
        width:170px;
        height:350px;
        left: -150px;
        z-index: 9999;
        background:    #000000;
        background:    radial-gradient(#000000, #f8f8f8);
        box-shadow:0 0 10px 5px #f8f8f8,inset 0 0 10px 5px #f8f8f8;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        color: #ffff00;
        }
#bearvideo:hover{
    left:-10px
}
#bearvideo img{
    position: relative;
    top: 20px;
    left: 23px;
}
#volley {
        position: absolute;
        top: 0;
        width: 99%;
        height:122px;
        font-size: 100px;
        background: radial-gradient(circle, #000000, #f8f8f8);
        box-shadow:0 0 50px 10px #f8f8f8,inset 0 0 50px 5px #f8f8f8;
        -webkit-transform:scale(1);
        transform:scale(1);
        color: #ffff00;
        text-shadow: 2px 2px #0000ff;
        font-weight: bolder;
        text-align: center;
}
#bounce{
    z-index: 9999;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
#row{
    background: -webkit-linear-gradient(left,rgb(97, 97, 97),white);
    background: -o-linear-gradient(right,rgb(97, 97, 97), white);
    background: -moz-linear-gradient(right,rgb(97, 97, 97), white);
    background: linear-gradient(to right,rgb(97, 97, 97), white);
    position: absolute;
    width: 20px;
    height: 5000px;
    top:522px;
    right: 374px;
}
#rightpage{
    background-color: rgb(250, 245, 170);
    top:524px;
    height: 5000px;
    position: absolute;
    z-index: 0;
    width: 374px;
    right: 0;
}
#someweb{
    background-color: rgb(247, 247, 167);
    position: absolute;
    right: 0;
    top: 1070px;
    width: 330px;
    height: auto;
    background:    radial-gradient(#000000, #f8f8f8);
    box-shadow:0 0 50px 10px #f8f8f8,inset 0 0 50px 5px #f8f8f8;
    color: #00B9D6;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
}
p{
    text-align: center;
}
#introduction{
    letter-spacing: 2px;
    line-height: 40px;
    font-size: xx-large;
}
#position{
    letter-spacing: 2px;
    line-height: 40px;
    font-size: xx-large;
}
#spike{
    letter-spacing: 2px;
    line-height: 40px;
    font-size: xx-large;
}
#ballpath{
    letter-spacing: 2px;
    line-height: 40px;
    text-align: left;
}
#defense{
    letter-spacing: 2px;
    line-height: 40px;
    font-size: xx-large;
}
#terms{
    letter-spacing: 2px;
    line-height: 40px;
    font-size: xx-large;
    text-align: left;
}
#dream_team{
    letter-spacing: 2px;
    line-height: 40px;
    font-size: xx-large;
}