.slider_container {
    margin: 30px auto;
    width: 400px;
    height: 250px;
    position: absolute;
    left: 360px;
    top: -57px;
}

.slider_container div {
    position: absolute;
    top: 150px;
    left: 200px;
    opacity: 0;
    filter: alpha(opacity=0);
}
.slider_container div {
    -webkit-animation: round 25s linear infinite;
            animation: round 25s linear infinite;
}
@-webkit-keyframes round {
    4% {
      opacity: 1;
      filter: alpha(opacity=100);
      left: 25%;
      /* 0 - 1秒 滑入*/
    }
    20% {
      opacity: 1;
      filter: alpha(opacity=100);
      left: 25%;
      /* 1- 5秒靜止*/
    }
    24% {
      opacity: 1;
      filter: alpha(opacity=0);
      left:0;
      /* 5-6秒滑出*/
    }
    26% {
      opacity: 0;
      filter: alpha(opacity=0);
      left: 0;
      /* 6-6.5秒變透明*/
    }
    28% {
      opacity: 0;
      filter: alpha(opacity=0);
      left: 50%;
      /* 6.5-7秒回到起始位置*/
    }
  }
@keyframes round {
    4% {
      opacity: 1;
      filter: alpha(opacity=100);
      left: 25%;
      /* 0 - 1秒 滑入*/
    }
    12% {
      opacity: 1;
      filter: alpha(opacity=100);
      left: 25%;
      /* 1- 5秒靜止*/
    }
    20% {
      opacity: 0;
      filter: alpha(opacity=0);
      left:0;
      /* 5-6秒滑出*/
    }
    26% {
      opacity: 0;
      filter: alpha(opacity=0);
      left: 50%;
      /* 6.5-7秒回到起始位置*/
    }
  }
.slider_container div:nth-child(5) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.slider_container div:nth-child(4) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

.slider_container div:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

.slider_container div:nth-child(2) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
}

.slider_container div:nth-child(1) {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
}
.slider_container span {    
    color: #000;
    background: #fff;
    position: absolute;
    left: 0%;
    top: 280px;
    width: 400px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    -webkit-transform:scaleY(0);
        -ms-transform:scaleY(0);
            transform:scaleY(0);
    -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.slider_container:hover span {
    width: 100%;
    -webkit-transform:scaleY(1);
        -ms-transform:scaleY(1);
            transform:scaleY(1);
}
.slider_container:hover div {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}
